* {
    /* add color in index.css eg: --accent: 0, 200, 0;*/
    --colorAbout: var(--accent);
}


.background {
    width: 100%;
    min-height: calc(100vh - 5rem);
    margin-top: 4rem;
    background: var(--backgroundCustom);
}

.section {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.head {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    align-self: center;
}

.header {
    color: black;
    font-size: 2.5rem;
    opacity: 1;
    font-family: 'Kalam', cursive;
}