/* base in index.css */

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  font-size: 100%;
  overflow-x: hidden;
  background: white;

  scroll-behavior: smooth;

  /* scrollbar ONLY for mozilla, scrollbar-width - "auto" or "thin"  */
  scrollbar-width: thin;
  scrollbar-color: var(--accent) gray;

}

:root {
  /* colors */

  --accent: 255, 0, 0;
  /* #c80000*/

  --text: 80, 80, 80;
  /* #505050 */

  --backgroundCustom: linear-gradient(90deg, rgb(240, 240, 240) 0%, rgb(221, 221, 221) 50%, rgb(240, 240, 240) 100%);
}

/* custom scroll bar in body (mobile not work) */
body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: black;
}

body::-webkit-scrollbar-thumb {
  background: rgba(var(--accent), 0.6);
  border-radius: 999px;
}

/* all COMPONENTS */

.text1 {
  font-size: 1.5rem;
  color: rgb(var(--accent));
  font-family: 'Kalam', cursive;
  letter-spacing: 1.2px;
  font-weight: 600;
}

.text2 {
  font-size: 2.5rem;
  color: black;
  font-weight: 600;
}

.text2white {
  color: white;
  opacity: 0.9;
}

.text3 {
  font-size: 1rem;
  padding-top: 1rem;
  color: rgb(var(--text));
  font-weight: normal;
  line-height: 2rem;
}

.text3white {
  color: white;
  opacity: 0.9;
}

.line {
  margin-top: 1rem;
  padding-top: 0.3rem;
  background: rgb(var(--accent));
  width: 5rem;
}

.figure {
  width: 100%;
  height: 100%;
}

.img {
  width: 100%;
  height: 100%;
  display: block;
}